<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block tutle %}SISTEMA DE CATALOGAÇÃO DE SEDIMENTOS{% endblock %}</title>
    {% load staticfiles %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'sedimentos/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <tr>
       <td width="180" rowspan="3" align="center">
            <a href="http://www5.usp.br/" target="_blank">
             <img src="/static/sedimentos/imagens/usp.png" width="150" height="70" alt="" border="0" style="position: relative; top: -3px;">

            </a>
       </td>
       <td width="180" rowspan="3" align="center">
            <a href="http://www.igc.usp.br/" target="_blank">
            <img src="/static/sedimentos/imagens/logo_IGc.png" width="150" height="70" alt="" border="0" style="position: relative; top: -3px;">
            </a>
       </td>
       <td width="180" rowspan="3" align="center">
            <a href="https://www.ime.usp.br/" target="_blank">
            <img src="/static/sedimentos/imagens/imeusp.png" width="150" height="70" alt="" border="0" style="position: relative; top: -3px;">
            </a>
       </td>
   </tr>
<nav class="navbar navbar-inverse"...>


      <div class="container-fluid">

        <div class="navbar-header">
            <button
                type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="incon-bar"></span>
                <span class="incon-bar"></span>
                <span class="incon-bar"></span>
            </button>


    <i>
    <a class="navbar-brand" href="{% url 'sedimentos:inicial' %}">SISTEMA DE CATALOGAÇÃO DE SEDIMENTOS</a>
    </i>
        </div>
    </div>
</nav>
<ul class="nav navbar-nav navbar-left">

                <ul><h3> Adicionar: </h3></ul>
    <ul>
              <li class="active">
                    <a href="{% url 'sedimentos:create_amostra'%}">
                        <span class="glyphicon glyphicoon-plus" aria-hidden="true"></span>&nbsp; Amostra
                    </a>
                </li>
                 <li class="active">
                    <a href="{% url 'sedimentos:create_cidade'%}">
                        <span class="glyphicon glyphicoon-plus" aria-hidden="true"></span>&nbsp;  Cidade
                    </a>
                </li>
                 <li class="active">
                    <a href="{% url 'sedimentos:create_estado'%}">
                        <span class="glyphicon glyphicoon-plus" aria-hidden="true"></span>&nbsp;  Estado
                    </a>
                </li>
                 <li class="active">
                    <a href="{% url 'sedimentos:create_país'%}">
                        <span class="glyphicon glyphicoon-plus" aria-hidden="true"></span>&nbsp;  País
                    </a>
                </li>
                 <li class="active">
                    <a href="{% url 'sedimentos:create_continente'%}">
                        <span class="glyphicon glyphicoon-plus" aria-hidden="true"></span>&nbsp;  Continente
                    </a>
                </li>
                 <li class="active">
                    <a href="{% url 'sedimentos:create_ambiente'%}">
                        <span class="glyphicon glyphicoon-plus" aria-hidden="true"></span>&nbsp;  Ambiente
                    </a>
                </li>

                 <li class="active">
                    <a href="{% url 'sedimentos:create_clima'%}">
                        <span class="glyphicon glyphicoon-plus" aria-hidden="true"></span>&nbsp;  Clima
                    </a>
                </li>
         <h3>Realizar Registro De Usuários Ou Desconectar Do Sistema</h3>
          <ul class="nav navbar-nav navbar-center">
                <li class="">
                    <a href="{% url 'sedimentos:logout_user' %}">
                        <span class="glyphicon glyphicoon-off" aria-hidden="true"></span>&nbsp;Logout
                    </a>
                 </li>
                 <li class="">
                    <a href="{%url 'sedimentos:register' %}">
                        <span class="glyphicon glyphicoon-off" aria-hidden="true"></span>&nbsp; Registrar
                    </a>
                 </li>
    </ul>
    </ul>
</ul>
<br>
<br>
<br>
{% block body %}
{% endblock %}
</body>

</html>
 <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
      <tbody>
        <tr>
            <td align="center">
                <font face="Arial,Hevetica,sans-serif" size="2">
                    <hr size="0">

                      <ul>
                        <i>
                            <a href="http://www5.usp.br/" target="_blank">
                              <img src="/static/sedimentos/imagens/usp.gif" width="150" height="50" alt="" border="0" style="position: relative; top: -3px;">
                            </a>
                            <br>
                            <a href="http://www.igc.usp.br/" target="_blank">Institudo de Geociências/USP</a>
                            <br>
                            <a href="https://www.ime.usp.br/" target="_blank">Instituto de Matemática e Estatística/USP</a>
                           <br>
                           <a href="http://www.prg.usp.br/" target="_blank">Pró-Reitoria de Graduação/USP</a>
                        </i>
                      </ul>
                    <a href="/sedimentos/agradecimentos"  target="_self">Créditos |</a>
                    <a href="/sedimentos/contato">Fale Conosco |</a>
                     <a href="https://github.com/Fabio343/Sediment-Cataloging-System" target="_blank">GitHub</a>
                    <br>

                     © 2016 - 2017  Instituto De Geociências-USP
                    <br>
                    Universidade De São Paulo
                </font>
            </td>
        </tr>
        </tbody>
    </table>

