<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SISTEMA DE CATALOGAÇÃO DE SEDIMENTOS</title>
    {% load staticfiles %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="{% static 'sedimentos/style.css' %}"/>
      <script src="https://ajax.googleapis.com/ajax/libs/1.5.7/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse"...>
   <tr>
       <td width="180" rowspan="3" align="center">
            <a href="http://www5.usp.br/" target="_blank">
            <img src="static/sedimentos/imagens/usp.jpg" width="150" height="50" alt="" border="0" style="position: relative; top: -3px;">

            </a>
       </td>
       <td width="180" rowspan="3" align="center">
            <a href="http://www.igc.usp.br/" target="_blank">
            <img src="static/sedimentos/imagens/logo_IGc.png" width="150" height="50" alt="" border="0" style="position: relative; top: -3px;">
            </a>
       </td>
       <td width="180" rowspan="3" align="center">
            <a href="https://www.ime.usp.br/" target="_blank">
            <img src="static/sedimentos/imagens/imeusp.png" width="150" height="50" alt="" border="0" style="position: relative; top: -3px;">
            </a>
       </td>
   </tr>
      <div role="banner" id="top">
      </div>

    <i>
    <a class="navbar-brand" href="{% url 'sedimentos:inicial' %}">SISTEMA DE CATALOGAÇÃO DE SEDIMENTOS</a>
        <br>
    </i>
        <div class="collapse navbar-collapse" id="topNavBar">
              <ul class="nav navbar-nav">
                   <li class="{% block amostras_active %}{% endblock %}"><a href="{% url 'sedimentos:index' %}"><span class="glyphicon glyphicon-sedimentos" aria-hidden="true"></span>&nbsp; Amostras</a></li>
                   <li class="{% block continentes_active %}{% endblock %}"><a href="{% url 'sedimentos:continentes' 'all' %}"><span class="glyphicon glyphicon-sedimentos" aria-hidden="true"></span>&nbsp; Continentes</a></li>
                   <li class="{% block paíss_active %}{% endblock %}"><a href="{% url 'sedimentos:paíss' 'all' %}"><span class="glyphicon glyphicon-sedimentos" aria-hidden="true"></span>&nbsp; Países</a></li>
                   <li class="{% block estados_active %}{% endblock %}"><a href="{% url 'sedimentos:estados' 'all' %}"><span class="glyphicon glyphicon-sedimentos" aria-hidden="true"></span>&nbsp; Estados</a></li>
                   <li class="{% block cidades_active %}{% endblock %}"><a href="{% url 'sedimentos:cidades' 'all' %}"><span class="glyphicon glyphicon-sedimentos" aria-hidden="true"></span>&nbsp; Cidades</a></li>
                   <li class="{% block climas_active %}{% endblock %}"><a href="{% url 'sedimentos:climas' 'all' %}"><span class="glyphicon glyphicon-sedimentos" aria-hidden="true"></span>&nbsp; Climas</a></li>
                   <li class="{% block ambientes_active %}{% endblock %}"><a href="{% url 'sedimentos:ambientes' 'all' %}"><span class="glyphicon glyphicon-sedimentos" aria-hidden="true"></span>&nbsp; Ambientes</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'sedimentos:index' %}">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                </div>
                <button type="submit" class="btn btn-default">Pesquisar</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                 <li class="">
                    <a href="{% url 'sedimentos:adicionar'%}">
                        <span class="glyphicon glyphicoon-plus" aria-hidden="true"></span>&nbsp;Adicionar
                    </a>
                </li>
                <ul class="nav navbar-nav">
                <li class="{% block login_active %}{% endblock %}"><a href="{% url 'sedimentos:login_user' %}">Login</a></li>
                </ul>
              </ul>
        </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>
 <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
     <tbody>
        <tr>
            <td align="center">
                <font face="Arial,Hevetica,sans-serif" size="2">
                    <hr size="0">

                      <ul>
                        <i>
                            <a href="http://www5.usp.br/" target="_blank">
                              <img src="static/sedimentos/imagens/usp.jpg" width="150" height="50" alt="" border="0" style="position: relative; top: -3px;">
                            </a>
                            <br>
                            <a href="http://www.igc.usp.br/" target="_blank">Institudo de Geociências/USP</a>
                            <br>
                            <a href="https://www.ime.usp.br/" target="_blank">Instituto de Matemática e Estatística/USP</a>
                           <br>
                           <a href="http://www.prg.usp.br/" target="_blank">Pró-Reitoria de Graduação/USP</a>
                        </i>
                      </ul>

                    <a href="/sedimentos/agradecimentos"  target="_self">Créditos</a>
                    <a href="/sedimentos/contato">Fale Conosco</a>
                    <br>
                    <br>

                     © 2016 - 2017  Instituto De Geociências-USP
                    <br>
                    Universidade De São Paulo
                </font>
            </td>
        </tr>
        </tbody>
    </table>

