<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block tutle %}SISTEMA DE CATALOGAÇÃO DE SEDIMENTOS{% endblock %}</title>
    {% load staticfiles %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'sedimentos/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse"...>
      <div class="container-fluid">
        <div class="navbar-header">
            <button
                type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="incon-bar"></span>
                <span class="incon-bar"></span>
                <span class="incon-bar"></span>
            </button>
    <nav class="navbar navbar-inverse"...>
   <tr>
       <td width="180" rowspan="3" align="center">
            <a href="http://www5.usp.br/" target="_blank">
            <img src="usp.gif" width="200" height="75" alt="" border="0" style="position: relative; top: -3px;">
            </a>
       </td>
       <td width="180" rowspan="3" align="center">
            <a href="http://www.igc.usp.br/" target="_blank">
            <img src="igc.jpg" width="200" height="75" alt="" border="0" style="position: relative; top: -3px;">
            </a>
       </td>
       <td width="180" rowspan="3" align="center">
            <a href="https://www.ime.usp.br/" target="_blank">
            <img src="logo.png" width="200" height="75" alt="" border="0" style="position: relative; top: -3px;">
            </a>
       </td>
   </tr>

        </div>
      </div>
</nav>
<nav class="navbar navbar-inverse">
    <i>
    <a class="navbar-brand" href="{% url 'sedimentos:inicial' %}">SISTEMA DE CATALOGAÇÃO DE SEDIMENTOS</a>
    </i>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>

 <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">

        <tbody>
          <tr>
            <td align="left">
                <font face="Arial,Hevetica,sans-serif" size="2">
                    <hr size="1">
                    <nav class="navbar navbar-inverse"...>
                    <ul>
                       <i>
                        <a href="http://www5.usp.br/" target="_self">UNIVERSIDADE DE SÃO PAULO</a>
                        <br>
                        <br>
                        <a href="http://www.igc.usp.br/" target="_self">Instituto de Geociências (IGC-USP)</a>
                         <br>
                         <br>
                        <a href="https://www.ime.usp.br/" target="_self">Instituto de Matemática e Estatística (IME-USP)</a>
                           <br>
                           <br>
                        <a href="http://www.prg.usp.br/?p=21904" target="_self">Programa de Bolsas Unificadas(PBU)</a>
                      </i>
                    </ul>
                   </nav>
                </font>
            </td>
        </tr>
        <tr>
            <td align="center">
                <font face="Arial,Helvetica,sans-serif" size="1">
                    <hr size="1">
                    <a href="/sedimentos/agradecimentos"  target="_self">Creditos</a>

                    <a href="/sedimentos/contato">Fale Conosco</a>
                    <br>
                     © 2016 - 2017 - Universidade De São Paulo
                </font>
            </td>
        </tr>
        </tbody>
    </table>