{% extends 'sedimentos/base.html' %}
{% block title %}{{ continente }}{% endblock %}
{% block continentes_active %}active{% endblock %}
{% block body %}
    <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'sedimentos:detail' amostra.id %}">View All</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All continentes</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>nome</th>
                            <th>sigla</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for continente in amostra.cotinente_set.all %}
                            <tr>
                                <td>{{ continente.nome}}</td>
                                <td>
                                    <form action="{% url 'sedimentos:delete_continente' amostra.id continente.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="continente_id" value="{{ continente.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}