{% extends 'sedimentos/base.html' %}
{% block continentes_active %}active{% endblock %}
{% block body %}
    {% if continentes %}
        <div class="row">
            <div class="col-sm-12">
                <h3>continentes</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>nome</th>
                                    <th>sigla</th>
                                    <th>codigo da amostra</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for continente in continentes %}
                                    <tr>
                                        <td>{{ continente.nome }}</td>
                                        <td>{{ continente.sigla}}</td>

                                        <td>
                                            <a href="{% url 'sedimentos:detail' continente.amostra.id %}">
                                                <img src="{{ continente.amostra.imagem.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'sedimentos:detail' continente.amostra.id %}">{{ continente.amostra.codigo }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}