{% extends 'sedimentos/base.html' %}
{% block body %}
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Em Que Consiste o Sistema?</h3>
                    <p>Consiste em ter um acervo de exemplares de amostras de diversas regiões do mundo que podem ser usados para estudos,
                        de forma geral sendo principalmente focado em atividades didáticas da área de geociências, além de facilitar no controle de informações que chegam constantemente ao Instituto de Geociências da Universidade De São Paulo. </p>
                    <h3>Quem Pode Acessar?</h3>
                    <p>O acesso é livre a todos, sendo que as funções de alterações de exclusividade dos administradores do sistema.</p>
                    <h3>Como Realizar Pesquisas?</h3>
                    <ul>
                        <li>Pode realizar a pesquisa por código da amostra,país,cidade,estado,ambiente,clima,entre outros.</li>
                        <li>Ou pode clicar a listagem geral de exemplares</li>
                    </ul>
                    <h3>O Que Apresenta Nos Exemplares?</h3>
                    <p>Apresenta uma descrição geral com suas informações de coleta como origem, tipo, dados referêntes a sua granulometria na forma de gráficos por exemplo. </p>
                </div>
            </div>
        </div>

{% endblock %}