{% extends 'sedimentos/base.html' %}
{% block body %}
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Em Que Consiste o Sistema?</h4>
                    <p> É um acervo de exemplares de amostras de sedimentos de diversas regiões do mundo que podem ser usados para estudos,
                        de forma geral sendo principalmente focado em atividades didáticas da área de Geociências. </p>
                    <h4>Quem Pode Acessar?</h4>
                    <p>O acesso é livre a todos, sendo que as funções de alterações de qualquer informação são exclusivas aos administradores do sistema.</p>
                    <h4>Como Realizar Pesquisas?</h4>
                    <ul>
                        <li>Pode realizar a pesquisa por código da amostra, país, cidade, estado, ambiente, clima, entre outros.</li>
                        <li>Ou pode clicar na listagem geral de exemplares</li>
                    </ul>
                    <h4> Quais são as informações apresentadas na lista geral de Exemplares?</h4>
                    <p>Para cada amostra, é fornecida uma descrição geral com informações  como origem, tipo e granulometria</p>
                </div>
            </div>
        </div>
{% endblock %}
