{% extends 'amostras/base.html' %}
{% block body %}
<ul>
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Em Que Consiste o Sistema?</h4>
                    <p> É um acervo de exemplares de amostras de sedimentos de diversas regiões do mundo que podem ser usados para estudos,
                        de forma geral sendo principalmente focado em atividades didáticas da área de Geociências. </p>
                    <h4>Quem Pode Acessar?</h4>
                    <p>O acesso é livre a todos, sendo que as funções de alterações de qualquer informação são exclusivas aos administradores do sistema.</p>
                    <h4>Como Realizar Pesquisas?</h4>
                    <ul>
                        <li>Pode realizar a pesquisa por código da amostra, país, cidade, estado, ambiente, clima, entre outros.</li>
                        <li>Ou pode clicar na listagem geral de exemplares</li>
                    </ul>
                    <h4> Quais são as informações apresentadas na lista geral de Exemplares?</h4>
                    <p>Para cada amostra, é fornecida uma descrição geral com informações  como origem, tipo e granulometria</p>
                </div>
                 <a href="amostras/download/projeto.pdf" target=_blank" download> Clique Aqui Para Matérial De Apoio </a>
            </div>

        </div>
<ul>
<div class="col-sm-6 col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
               <table class="table">
<h4>Sigla Dos Países Listados Para Possíveis Dúvidas Durante As Pesquisas </h4>
<h4>Código   / País    </h4>
<h6>BR/	  Brasil</h6>
    <h6>MV	/  Maldivas</h6>
    <h6>GR/	      Grécia</h6>
<h6>CA	 / Canada</h6>
    <h6>MX	/  México</h6>
    <h6>FR /       França</h6>
<h6>CL	/  Chile</h6>
    <h6>NO	/  Noruega</h6>
    <h6>CH	/      Suiça</h6>
<h6>CO	/  Colombia</h6>
    <h6>NZ	/  Nova Zelândia</h6>
    <h6>ES	/      Espanha</h6>
<h6>CR	/  Costa Rica</h6>
    <h6>OM	/  Omã</h6>
    <h6>RE	/      Reunião</h6>
<h6>EG	/  Egito</h6>
    <h6>PE	/  Peru</h6>
    <h6>US/	      Estados Unidos</h6>
<h6>DM	/  Dominica</h6>
    <h6>PF	/  Polinesia Francesa</h6>
    <h6>GB	/  Reino Unido</h6>
<h6>DK	/  Dinamarca</h6>
    <h6>PY	/  Paraguai</h6>
<h6>    PT	/      Portugal</h6>
<h6>AE	 / Emiratos Arabes Unidos </h6>
                   </table>
</div>
                </div>
    </div>
         <div class="col-sm-6 col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
               <table class="table">
                    <h4>Sigla Dos Países Listados Para Possíveis Dúvidas Durante As Pesquisas </h4>
<h4>Código   / País    </h4>
<h6>AQ   / Antartica</h6>
   <h6> GF	 / Guiana Francesa</h6>
   <h6> TW	 /     Taiwan</h6>
<h6>AR   / Argentina</h6>
    <h6>GY	 / Guiana</h6>
   <h6> TR	/      Turquia</h6>
<h6>AW  /  Aruba</h6>
   <h6> ID	  /Indonesia</h6>
   <h6> UY	/      Uruguai</h6>
<h6>BS	/  Bahamas</h6>
    <h6>IL	 / Israel</h6>
    <h6>TH  /      Tailândia</h6>
<h6>AU	/  Australia</h6>
    <h6>IS	 / Islândia</h6>
    <h6>VE	/      Venezuela</h6>
    <h6>BB	/  Barbados</h6>
    <h6>IT	/  Italia</h6>
    <h6>PR	/      Porto Rico</h6>
<h6>BO/	  Bolivia</h6>
    <h6>JP	/  Japão</h6>
    <h6>SE/	      Suecia</h6>
<h6>CV	/  Cabo Verde</h6>
    <h6>MA	/  Marrocos</h6>
   <h6>EQ	/      Equador</h6>


                   </table>
</div>
</div>
</div>
</ul>
</ul>
{% endblock %}
