{% load i18n %}{% autoescape off %}
{% blocktrans %}Você está recebendo esse email pois solicitou a recuperação de senha no sistema do site  {{ site_name }}.{% endblocktrans %}

{% trans "Por favor acesse o link abaixo para realizar a mudança de senha :" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'amostras:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Seu nome de usuario caso tenha esquecido:" %} {{ user.get_username }}

{% trans "Obrigado por visitar nosso site!" %}

{% blocktrans %}Equipe {{ site_name }} {% endblocktrans %}

{% endautoescape %}