{% extends 'amostras/basevisitante.html' %}
{% block body %}
<div class="container">
    <h3>Administração</h3>
    <p>
       Nós acabamos de enviar um email para o endereço que foi informado e que esteja registrado em nosso banco  para que possa realizar a alteração de senha ,

       se caso não receber o email tenha certeza que o email informado é de um usuario do sistema do contrario realize a solicitação por um endereço valido,

       visualize também sua caixa de spam possivelmente o email pode ter sido direcionado para ela.
    </p>
</div>
{% endblock %}
