{% extends 'sedimentos/base.html' %}
{% block title %}All ambientes{% endblock %}
{% block ambientes_active %}active{% endblock %}

{% block body %}
<div class="container-fluid ambientes-container">

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills" style="margin-bottom: 100px;">
                <li role="presentation" {% if filter_by == 'all' %}class="active"{% endif %}><a href="{% url 'sedimentos:ambientes' 'all' %}">View All</a></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-5">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Amostra</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ambiente in ambiente_list %}
                                <tr>
                                    <td>{{ ambiente.tipo }}</td>
                                    <td>
                                        <a href="{% url 'sedimentos:detail' ambiente.amostra.id %}">
                                            <img src="{{ ambiente.amostra.imagem.url }}" class="img-responsive" style="width: 100px; float: left; margin-right: 100px;" />
                                        </a>
                                        <a href="{% url 'sedimentos:detail' ambiente.amostra.id %}">{{ ambiente.amostra.codigo }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}