{% extends 'sedimentos/base.html' %}
{% block title %}All amostras{% endblock %}
{% block amostras_active %}active{% endblock %}

{% block body %}
<div class="container-fluid amostras-container">

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills" style="margin-bottom: 100px;">
                <li role="presentation" {% if filter_by =='all' %}class="active"{% endif %}><a href="{% url 'sedimentos:amostra' 'all' %}">View All</a></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                    <th>codigo</th>
                                    <th> tipo</th>
                                    <th> descrição</th>
                                    <th> coletador</th>
                                    <th>granulometria</th>
                                    <th>data</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for amostra in amostra_list %}
                                <tr>
                                    <td>{{ amostra.tipo }}</td>
                                    <td>{{ amostra.amostra.codigo }}</td>
                                    <td>
                                        <a href="{% url 'sedimentos:detail' amostras.amostra.id %}">
                                            <img src="{{ amostras.amostra.imagem.url }}" class="img-responsive" style="width: 100px; float: left; margin-right: 100px;" />
                                        </a>
                                        <a href="{% url 'sedimentos:detail' amostras.amostra.id %}">{{ amostras.amostra.tipo }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}