{% extends 'sedimentos/base.html' %}
{% block title %}All climas{% endblock %}
{% block climas_active %}active{% endblock %}

{% block body %}
<div class="container-fluid climas-container">

    <div class="row">
        <ul><u><h3>Todos os Climas Registrados no Sistema:</h3></u></ul>
    </div>

    <div class="row">

        <div class="col-sm-8">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Amostra</th>
                                <th>Imagem</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for clima in clima_list %}
                                <tr>
                                    <td>{{ clima.tipo }}</td>
                                    <td>{{ clima.amostra.codigo }}</td>

                                    <td>
                                        <a href="{% url 'sedimentos:detail' clima.amostra.id %}">
                                             {% if clima.amostra.imagem %}
                                            <img  class="expa" src="{{ clima.amostra.imagem.url }}" class="img-responsive" style="width: 200px; float: left; margin-right: 200px;" />
                                            {%else%}
                                            {%endif%}
                            <a class="btn btn-default" href="{% url 'sedimentos:clima_edit' clima.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <form action="{% url 'sedimentos:delete_clima' clima.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="clima_id" value="{{ clima.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                                        </a>


                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}