{% extends 'sedimentos/base.html' %}
{% block title %}{{ amostra }}{% endblock %}
{% block amostras_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left amostra Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'sedimentos:detail' amostra.id %}">
                        {% if amostra.imagem %}
                            <img src="{{ amostra.imagem.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ amostra.codigo }} <small></small></h1>
                    <h2>{{ amostra.tipo }}</h2>
                    <h2>{{amostra.descrição}}</h2>
                    <h2>{{ amostra.granulometria}}</h2>
                    <h2>{{amostra.data}}</h2>
                    <h2>{{amostra.coletador}}</h2>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-3">



            <div class="panel panel-default">
                <div class="panel-body">

                    <h3> AMOSTRA DETALHES</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>tipo</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for amostra in amostra.amostra_set.all %}
                            <tr>
                                <td>{{ amostra.descrição}}</td>
                                 <td>{{ amostra.tipo}}</td>
                                <td>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Right continente Info -->
        <div class="col-sm-3 col-md-3">



            <div class="panel panel-default">
                <div class="panel-body">

                    <h3> Continente</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>nome</th>
                            <th>sigla</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for continente in amostra.continente_set.all %}
                            <tr>
                                <td>{{ continente.nome}}</td>
                                 <td>{{ continente.sigla}}</td>
                                <td>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

         <!-- Right país Info -->
         <div class="col-sm-3 col-md-3">



            <div class="panel panel-default">
                <div class="panel-body">

                    <h3> País</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>nome</th>
                            <th>região</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for país in amostra.país_set.all %}
                            <tr>
                                <td>{{ país.nome}}</td>
                                <td>{{ país.região}}</td>
                                <td>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

         <!-- Right estado Info -->
         <div class="col-sm-3 col-md-3">



            <div class="panel panel-default">
                <div class="panel-body">

                    <h3> Estado</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>nome</th>
                            <th>país</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for estado in amostra.estado_set.all %}
                            <tr>
                                <td>{{ estado.nome}}</td>
                                <td>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

         <!-- Right cidade Info -->
         <div class="col-sm-3 col-md-3">



            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Cidade</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>nome</th>
                            <th>estado</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cidade in amostra.cidade_set.all %}
                            <tr>
                                <td>{{ cidade.nome}}</td>
                                <td>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Right clima Info -->

         <div class="col-sm-3 col-md-3">



            <div class="panel panel-default">
                <div class="panel-body">

                    <h3> Clima</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>tipo</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for clima in amostra.clima_set.all %}
                            <tr>
                                <td>{{ clima.tipo}}</td>
                                <td>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Right ambiente Info -->
        <div class="col-sm-3 col-md-3">


            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Ambiente</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>tipo</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for ambiente in amostra.ambiente_set.all %}
                            <tr>
                                <td>{{ ambiente.tipo}}</td>
                                <td>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}