{% extends 'sedimentos/base.html' %}
{% block title %}All paíss{% endblock %}
{% block paíss_active %}active{% endblock %}

{% block body %}
<div class="container-fluid paíss-container">

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills" style="margin-bottom: 100px;">
                <li role="presentation" {% if filter_by == 'all' %}class="active"{% endif %}><a href="{% url 'sedimentos:paíss' 'all' %}">View All</a></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-5">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome do País</th>
                                <th>Amostra</th>
                                <th>Imagem e Codigo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for país in país_list %}
                                <tr>
                                    <td>{{ país.nome }}</td>
                                    <td>{{ país.amostra.codigo }}</td>
                                    <td>
                                        <a href="{% url 'sedimentos:detail' país.amostra.id %}">
                                            <img src="{{ país.amostra.imagem.url }}" class="img-responsive" style="width: 100px; float: left; margin-right: 100px;" />
                                          <a href="{% url 'sedimentos:detail' país.amostra.id %}">{{ país.amostra.codigo }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}