{% extends 'catalogação/base2.html' %}
{% block amostras_active %}active{% endblock %}

{% block body %}
<div class="amostras-container container-fluid">
    <!-- amostra -->
        {% if amostras %}
         <div class="row">
          <div class="col-sm-12">
        <h3> Amostras :</h3>
        </div>
            {% for amostra in amostras %}

                <div class="col-sm-3 col-lg-2">
                    <div class="thumbnail">

                        <a href="{% url 'catalogação:detail' amostra.id %}">

                            <img src="{{ amostra.imagem.url }}" class="img-responsive">
                            <img src="{{ amostra.granulometria.url }}" class="img-responsive" style="width: 550px; float:left; margin-right: 500px;">
                        </a>
                        <div class="caption">
                            <h3>{{ amostra.codigo }}</h3>
                            <h4>{{ amostra.tipo }}</h4>

                            <a href="{% url 'catalogação:detail' amostra.id %}" class="btn btn-primary btn-sm" role="button">Detalhes</a>

                            <form action="{% url 'catalogação:delete_amostra' amostra.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="amostra_id" value="{{ amostra.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% endif %}
    </div>

    {% if continentes %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Continente</h3>
            </div>
            <div class="col-sm-12">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Sigla</th>
                                    <th> Imagem e Código da Amostra</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for continente in continentes %}
                                    <tr>
                                        <td>{{ continente.nome }}</td>
                                        <td>{{ continente.sigla}}</td>

                                        <td>
                                            <a href="{% url 'catalogação:detail' continente.amostra.id %}">
                                                <img src="{{ continente.amostra.imagem.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'catalogação:detail' continente.amostra.id %}">{{ continente.amostra.codigo }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                             {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {% if paíss %}
        <div class="row">
            <div class="col-sm-12">

                <h3>Países</h3>
            </div>
            <div class="col-sm-12">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Região</th>
                                    <th>Código da Amostra</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for país in paíss %}
                                    <tr>
                                        <td>{{ país.nome }}</td>
                                        <td>{{ país.região}}</td>

                                        <td>
                                            <a href="{% url 'catalogação:detail' país.amostra.id %}">
                                                <img src="{{ país.amostra.imagem.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'catalogação:detail' país.amostra.id %}">{{ país.amostra.codigo }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {% if estados %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Estados</h3>
            </div>
            <div class="col-sm-12">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>País</th>
                                    <th>Código da amostra</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for estado in estados %}
                                    <tr>
                                        <td>{{ estado.nome }}</td>
                                        <td>{{ estado.país}}</td>

                                        <td>
                                            <a href="{% url 'catalogação:detail' estado.amostra.id %}">
                                                <img src="{{ estado.amostra.imagem.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'catalogação:detail' estado.amostra.id %}">{{ estado.amostra.codigo }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {% if cidades %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Cidades</h3>
            </div>
            <div class="col-sm-12">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Estado</th>
                                    <th>Código da amostra</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cidade in cidades %}
                                    <tr>
                                        <td>{{ cidade.nome }}</td>
                                        <td>{{ cidade.estado}}</td>

                                        <td>
                                            <a href="{% url 'catalogação:detail' cidade.amostra.id %}">
                                                <img src="{{ cidade.amostra.imagem.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'catalogação:detail' cidade.amostra.id %}">{{ cidade.amostra.codigo }}</a>
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {% if climas %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Climas</h3>
            </div>
            <div class="col-sm-12">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Código da amostra</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for clima in climas %}
                                    <tr>
                                        <td>{{ clima.tipo }}</td>


                                        <td>
                                            <a href="{% url 'catalogação:detail' clima.amostra.id %}">
                                                <img src="{{ clima.amostra.imagem.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'catalogação:detail' clima.amostra.id %}">{{ clima.amostra.codigo }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}



    {% if ambientes %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Ambientes</h3>
            </div>
            <div class="col-sm-12">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Código da amostra</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ambiente in ambientes %}
                                    <tr>
                                        <td>{{ ambiente.tipo }}</td>


                                        <td>
                                            <a href="{% url 'catalogação:detail' ambiente.amostra.id %}">
                                                <img src="{{ ambiente.amostra.imagem.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'catalogação:detail' ambiente.amostra.id %}">{{ ambiente.amostra.codigo }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}