<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block tutle %}SISTEMA DE CATALOGAÇÃO DE SEDIMENTOS{% endblock %}</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=arial' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'sedimentos/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
<body>
  <nav class="navbar navbar-inverse"...>
      <div class="container-fluid">

        <div class="navbar-header">
            <button
                type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="incon-bar"></span>
                <span class="incon-bar"></span>
                <span class="incon-bar"></span>
            </button>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}"> UNIVERSIDADE DE SÃO PAULO </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}"> Instituto de Geociências (IGC-USP)  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}"> Instituto de Matemática e Estatística (IME-USP) </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}"> Programa de Bolsas Unificadas(PBU) </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
             <a class="navbar-brand" href="{% url 'sedimentos:index' %}">  </a>
        </div>
  </nav>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'sedimentos:index' %}">SISTEMA DE CATALOGAÇÃO DE SEDIMENTOS</a>
        </div>


        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="{% block login_active %}{% endblock %}"><a href="{% url 'sedimentos:login_user' %}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>