{% extends 'sedimentos/base.html' %}
{% block title %}All climas{% endblock %}
{% block climas_active %}active{% endblock %}

{% block body %}
<div class="container-fluid climas-container">

    <div class="row">
        <ul><u><h3>Todos os Climas Registrados no Sistema:</h3></u></ul>
    </div>

    <div class="row">

        <div class="col-sm-5">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Amostra</th>
                                <th>Imagem</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for clima in clima_list %}
                                <tr>
                                    <td>{{ clima.tipo }}</td>
                                    <td>{{ clima.amostra.codigo }}</td>

                                    <td>
                                        <a href="{% url 'sedimentos:detail' clima.amostra.id %}">
                                            <img src="{{ clima.amostra.imagem.url }}" class="img-responsive" style="width: 200px; float: left; margin-right: 200px;" />
                                        </a>

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}