{% load static %}
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'sedimentos/../../static/css/contato.css' %}">

    <title>Forma de Contato</title>
</head>
<body>
<ul>
<h1 id="contact">Entre em Contato com a Administração</h1>
<form action="/sedimentos/contato/" method="post">
    <label for="your_name">Nome </label> <br>
    <input id="your_name" type="text" name="your_name" value="{{ contact_name }}"> <br>
    <label for="your_email"> Email </label> <br>
    <input id="your_email" type="email" name="your_email" value="{{ contact_email }}"> <br>
    <label for="your_message">Mensagem</label><br>
    <input id="your_message" type="text" name="your_message" value="{{ form_content|safe|striptags }}"><br><br>
    <button type="submit">Concluir</button>
    {% csrf_token %}
</form>
</ul>
</body>
<br>
<ul>
<a href="/sedimentos">Volte a Página do Sistema</a>
</ul>