{% extends 'sedimentos/base.html' %}
{% block title %}All continentes{% endblock %}
{% block continentes_active %}active{% endblock %}

{% block body %}
<div class="container-fluid continentes-container">
    <div class="row">
       <ul><u><h3>Todos os Continentes Registrados no Sistema:</h3></u></ul>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Amostra</th>
                                <th>Imagem</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for continente in continente_list %}
                                <tr>
                                    <td>{{ continente.nome }}</td>
                                      <td>{{continente.amostra.codigo}}</td>
                                    <td>
                                        <a href="{% url 'sedimentos:detail' continente.amostra.id %}">
                                            <img src="{{ continente.amostra.imagem.url }}" class="img-responsive" style="width: 200px; float: left; margin-right: 200px;" />
                                        </a>

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}