<img src="{{amostra_id.logo_amostra}}">

<h1>{{amostra_id.codigo}}</h1>


   <ul>
    {% for cidade in amostra_id.cidade_set.all %}

                 {{cidade.nome}}
                     <>
                 {{ cidade.geologia}}
    {% endfor %}
     </ul>





   <ul>
    {% for continente in amostra_id.continente_set.all %}
                {{continente.nome}}<>
                {{ continente.sigla}}
    {% endfor %}
    </ul>




    <ul>
    {% for estado in amostra_id.estado_set.all %}
                {{estado.nome}}
    {% endfor %}
    </ul>




    <ul>
    {% for ambiente in amostra_id.ambiente_set.all %}
               {{ambiente.tipo}}
    {% endfor %}
    </ul>




    <ul>
    {% for clima in amostra_id.clima_set.all %}
                 {{clima.tipo}}
    {% endfor %}
    </ul>