{% extends 'sedimentos/base.html' %}
{% block title %}{{ país }}{% endblock %}
{% block amostras_active %}active{% endblock %}
{% block body %}
<div class="container-fluid songs-container">

    <div class="row">


        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'sedimentos:detail3' país.id %}">
                    </a>
        <ul>
    {% for amostra in país.amostra_set.all %}
           <h3>{{amostra.codigo}}</h3>
           <li>{{amostra.tipo}}</li>
           <li>{{amostra.descrição}}</li>
           <li>{{amostra.granulometria}}</li>
           <li>{{amostra.data}}</li>
           <li>{{amostra.coletador}}</li>
    {% endfor %}

       {% for cidade in país.cidade_set.all %}
           <h3>{{cidade.amostra}}</h3>
       Cidade de Coleta:
           <li>{{cidade.nome}}</li>
       Geologia Local:
           <li>{{cidade.geologia}}</li>
    {% endfor %}

    {% for continente in país.continente_set.all %}
    Continente de Origem:
    <li>{{continente.nome}}</li>
    Sigla do Continente:
    <li>{{continente.sigla}}</li>
    {% endfor %}

    {% for estado in país.estado_set.all %}
     Estado de Coleta:
    <li>{{estado.nome}}</li>
    {% endfor %}

    {% for ambiente in país.ambiente_set.all %}
    Ambiente de Coleta :
    <li>{{ambiente.tipo}}</li>
    {% endfor %}


    {% for clima in país.clima_set.all %}
    Clima da Região:
    <li>{{clima.tipo}}</li>
    {% endfor %}
</ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}