{% extends 'sedimentos/base.html' %}
{% block paíss_active %}active{% endblock %}
{% block body %}
<div class="paíss-container container-fluid">
{% if all_paíss %}
   <ul>
   <h3>Todas as paíss Disponiveis no Sistema:</h3></ul>
  <ul>
      {% for país in all_paíss %}
      <div class="col-sm-2 col-lg-2">
          <div class="thumbnail">
              <div class="caption">
                 <a href="{% url 'sedimentos:detail3' país.id %}">{{país.nome}}</a>
                 <a href="{% url 'sedimentos:detail3' país.id %}" class="btn btn-primary btn-sm" role="button">Detalhes</a>
              </div>
          </div>
      </div>
      {% endfor %}
  </ul>

</div>
{% endif %}
{% endblock %}