{% extends 'admin/base.html' %}
{% block estados_active %}active{% endblock %}
{% block body %}
<div class="estados-container container-fluid">
{% if all_estados %}
   <ul>
   <h3>Todas as estados Disponiveis no Sistema:</h3></ul>
  <ul>
      {% for estado in all_estados %}
      <div class="col-sm-2 col-lg-2">
          <div class="thumbnail">
              <div class="caption">
                 <a href="{% url 'sedimentos:detail4' estado.id %}">{{estado.nome}}</a>
                 <a href="{% url 'sedimentos:detail4' estado.id %}" class="btn btn-primary btn-sm" role="button">Detalhes</a>
              </div>
          </div>
      </div>
      {% endfor %}
  </ul>

</div>
{% endif %}
{% endblock %}
