{% extends 'admin/base.html' %}
{% block ambientes_active %}active{% endblock %}
{% block body %}
<div class="ambientes-container container-fluid">
{% if all_ambientes %}
   <ul>
   <h3>Todas as ambientes Disponiveis no Sistema:</h3></ul>
  <ul>
      {% for ambiente in all_ambientes %}
      <div class="col-sm-2 col-lg-2">
          <div class="thumbnail">
              <div class="caption">
                 <a href="{% url 'sedimentos:detail6' ambiente.id %}">{{ambiente.tipo}}</a>
                 <a href="{% url 'sedimentos:detail6' ambiente.id %}" class="btn btn-primary btn-sm" role="button">Detalhes</a>
              </div>
          </div>
      </div>
      {% endfor %}
  </ul>

</div>
{% endif %}
{% endblock %}
