{% extends 'sedimentos/base.html' %}
{% block ambientes_active %}active{% endblock %}

{% block body %}
<div class="ambientes-container container-fluid">
{% if all_ambientes %}
   <ul>
        <ul><h3>Todas os ambientes Disponiveis no Sistema:</h3></ul>
       <ul>
           {% for ambiente in all_ambientes %}
            <div class="col-sm-2 col-lg-2">
                <div class="thumbnail">
                   <div class="caption">
                      <a href="{% url 'sedimentos:detail6' ambiente.id %}">{{ambiente.tipo}}</a>

                        <div class="caption">
                            <h2>{{ ambiente.tipo }}</h2>
                            <h4>{{ ambiente.amostra }}</h4>

                            <!-- View Details -->
                             <a href="{% url 'sedimentos:detail6' ambiente.id %}" class="btn btn-primary btn-sm" role="button">Detalhes</a>

                            <!-- Delete  -->
                            <form action="{% url 'sedimentos:delete_ambiente' ambiente.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="ambiente_id" value="{{ ambiente.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                   </div>
                </div>
             </div>
            {% endfor %}
        </ul>
   </ul>
</div>
{% endif %}
{% endblock %}

