{% extends 'admin/base.html' %}
{% block cidades_active %}active{% endblock %}
{% block body %}
<div class="cidades-container container-fluid">
{% if all_cidades %}
   <ul>
   <h3>Todas as cidades Disponiveis no Sistema:</h3></ul>
  <ul>
      {% for cidade in all_cidades %}
      <div class="col-sm-2 col-lg-2">
          <div class="thumbnail">
              <div class="caption">
                 <a href="{% url 'sedimentos:detail5' cidade.id %}">{{cidade.nome}}</a>
                 <a href="{% url 'sedimentos:detail5' cidade.id %}" class="btn btn-primary btn-sm" role="button">Detalhes</a>
              </div>
          </div>
      </div>
      {% endfor %}
  </ul>

</div>
{% endif %}
{% endblock %}