{% extends 'admin/base.html' %}
{% block climas_active %}active{% endblock %}
{% block body %}
<div class="climas-container container-fluid">
{% if all_climas %}
   <ul>
   <h3>Todas as climas Disponiveis no Sistema:</h3></ul>
  <ul>
      {% for clima in all_climas %}
      <div class="col-sm-2 col-lg-2">
          <div class="thumbnail">
              <div class="caption">
                 <a href="{% url 'sedimentos:detail7' clima.id %}">{{clima.tipo}}</a>
                 <a href="{% url 'sedimentos:detail7' clima.id %}" class="btn btn-primary btn-sm" role="button">Detalhes</a>
              </div>
          </div>
      </div>
      {% endfor %}
  </ul>

</div>
{% endif %}
{% endblock %}