{% extends 'sedimento/base2.html' %}
{% block estados_active %} active {% endblock %}

{%block body %}
<div class="estados-container container-fluid">

    <div class="row">

        <div class="col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                     <h2>Estado</h2>
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                        {% include 'sedimento/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-sucess">concluir</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}